<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <button class="btn btn-primary my-2" routerLink="empleado/crear" (click)="toCreateUser()">Nuevo
            Empleado</button>
    </div>
    <!-- <div *ngIf="empleados.length!==0; else noHayEmpleados"> -->
    <div>
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">RUT</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados; index as i">
                    <td>{{i+1}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.id}}</td>
                    <td>{{empleado.correo}}</td>
                    <td>{{empleado.telefono}}</td>
                    <td>{{empleado.direccion}}</td>
                    <td>
                        <button class="btn btn-primary mx-1" [routerLink]="['/empleado/detalles', empleado.id]"><i
                                class="fa-solid fa-eye"></i></button>
                        <button class="btn btn-primary mx-1" [routerLink]="['/empleado/editar', empleado.id]"><i
                                class="fa-solid fa-pen"></i></button>
                        <!-- <button class="btn btn-danger  mx-1" (click)="eliminarEmpleado(empleado.id)"><i class="fa-solid fa-trash"></i></button> -->
                        <button class="btn btn-danger  mx-1" data-toggle="modal" data-target="#exampleModal"><i
                                class="fa-solid fa-trash"></i></button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <!-- <ng-template #noHayEmpleados>
        <div class="row m-2">
            <h3>
                No hay registros de empleados en la base de datos.
            </h3>
        </div>
    </ng-template> -->

</div>