<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Eliminar Empleado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                ¿Esta seguro que quiere eliminar este empleado?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="eliminarEmpleado()" data-bs-dismiss="modal">Eliminar</button>
                <button type="button" class="btn btn-secondary" (click)="limpiarEliminar()" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <button class="btn btn-primary my-2" routerLink="empleado/crear" (click)="toCreateUser()">Nuevo
            Empleado</button>
    </div>
    <!-- <div *ngIf="empleados.length!==0; else noHayEmpleados"> -->
    <div>
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">RUT</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados; index as i">
                    <td class="align-middle">{{i+1}}</td>
                    <td class="align-middle">{{empleado.nombre}}</td>
                    <td class="align-middle">{{formatearRut(empleado.id)}}</td>
                    <td class="align-middle">{{empleado.correo}}</td>
                    <td class="align-middle">{{empleado.telefono}}</td>
                    <td class="align-middle">{{empleado.direccion}}</td>
                    <td class="align-middle">
                        <button class="btn btn-primary mx-1" [routerLink]="['/empleado/detalles', empleado.id]"><i class="fa-solid fa-eye"></i></button>
                        <button class="btn btn-primary mx-1" [routerLink]="['/empleado/editar', empleado.id]"><i class="fa-solid fa-pen"></i></button>
                        <!-- <button class="btn btn-danger  mx-1" (click)="eliminarEmpleado(empleado.id)"><i class="fa-solid fa-trash"></i></button> -->
                        <button class="btn btn-danger  mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setEliminar(empleado.id)"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <ng-template #noHayEmpleados>
        <div class="row m-2">
            <h3>
                No hay registros de empleados en la base de datos.
            </h3>
        </div>
    </ng-template> -->

</div>