<div class="col-md-4 offset-md-4">
    <div class="col-3">
        <button class="btn btn-primary w-100 my-1" (click)="volver()">
            <i class="fa-solid fa-angle-left"></i>
            Volver
        </button>
    </div>
    <div class="card">
        <div class="card-header text-center bg-primary">
            <h4 class="fw-bold align-middle m-0 text-white">Detalles</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="empleadoForm">

                <!--IMAGEN-->
                <div *ngIf="myImage; else noImage" class="form-group m-2">
                    <img [src]="myImage" class="img-fluid">
                </div>
                <ng-template #noImage>
                    <div class="form-group m-2">
                        <img [src]="'assets/no_image.jpg'" class="img-fluid">
                    </div>
                </ng-template>

                <!--NOMBRE-->
                <div class="form-group row m-2">
                    <label class="p-0 fw-bold">Nombre</label>
                    <input type="text" class="form-control" name="nombre" formControlName="nombre" readonly>
                </div>
                <!--RUT-->
                <div class="form-group m-2">
                    <label class="p-0 fw-bold">RUT</label>
                    <input type="text" class="form-control" name="id" formControlName="id" readonly>
                </div>
                <!--CORREO-->
                <div class="form-group m-2">
                    <label class="p-0 fw-bold">Correo</label>
                    <input type="email" class="form-control" name="correo" formControlName="correo" readonly>
                </div>
                <!--TELEFONO-->
                <div class="form-group m-2">
                    <label class="p-0 fw-bold">Teléfono</label>
                    <input type="text" class="form-control" name="telefono" formControlName="telefono" readonly>
                </div>
                <!--DIRECCION-->
                <div class="form-group m-2">
                    <label class="p-0 fw-bold">Dirección</label>
                    <input type="text" class="form-control" name="direccion" formControlName="direccion" readonly>
                </div>

            </form>
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>